@model DT191G_Mom2.Models.CharacterModel

@{
    ViewData["Title"] = "Skapa karaktär";
}

<h1 class="text-3xl font-bold tracking-tight text-gray-900 mb-4">Skapa karaktär</h1>

<form asp-action="Create" method="post" class="space-y-4">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name" class="block text-sm font-medium text-gray-700"></label>
        <input asp-for="Name"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Class" class="block text-sm font-medium text-gray-700"></label>
        <select asp-for="Class"
            class="mt-1 block w-full pl-3 pr-10 py-2 text-base border border-gray-300 focus:outline-none shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
            <option value="">Välj en klass</option>
            @foreach (var c in ViewBag.Classes)
            {
                <option value="@c">@c</option>
            }
        </select>
        <span asp-validation-for="Class"></span>
    </div>
    <div>
        <label asp-for="Race" class="block text-sm font-medium text-gray-700"></label>
        <select asp-for="Race"
            class="mt-1 block w-full pl-3 pr-10 py-2 text-base border border-gray-300 focus:outline-none shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
            <option value="">Välj ras</option>
            @foreach (var r in ViewBag.Races)
            {
                <option value="@r">@r</option>
            }
        </select>
        <span asp-validation-for="Race"></span>
    </div>
    <div>
        <label asp-for="Background" class="block text-sm font-medium text-gray-700"></label>
        <select asp-for="Background"
            class="mt-1 block w-full pl-3 pr-10 py-2 text-base border border-gray-300 focus:outline-none shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
            <option value="">Välj bakgrund</option>
            @foreach (var b in ViewBag.Backgrounds)
            {
                <option value="@b">@b</option>
            }
        </select>
        <span asp-validation-for="Background"></span>
    </div>
    <div class="mt-4">
        <span class="block text-sm font-medium text-gray-700">Alignment</span>
        <div class="mt-2 flex items-center space-x-6">
            <div>
                <label class="inline-flex items-center">
                    <input type="radio" asp-for="Alignment" value="Lawful Good"
                        class="form-radio h-4 w-4 text-indigo-600">
                    <span class="ml-2 text-sm text-gray-600">Lawful Good</span>
                </label>
            </div>
            <div>
                <label class="inline-flex items-center">
                    <input type="radio" asp-for="Alignment" value="Neutral Good"
                        class="form-radio h-4 w-4 text-indigo-600">
                    <span class="ml-2 text-sm text-gray-600">Neutral Good</span>
                </label>
            </div>
            <div>
                <label class="inline-flex items-center">
                    <input type="radio" asp-for="Alignment" value="Chaotic Good"
                        class="form-radio h-4 w-4 text-indigo-600">
                    <span class="ml-2 text-sm text-gray-600">Chaotic Good</span>
                </label>
            </div>
            <div>
                <label class="inline-flex items-center">
                    <input type="radio" asp-for="Alignment" value="Lawful Evil"
                        class="form-radio h-4 w-4 text-indigo-600">
                    <span class="ml-2 text-sm text-gray-600">Lawful Evil</span>
                </label>
            </div>
            <div>
                <label class="inline-flex items-center">
                    <input type="radio" asp-for="Alignment" value="Neutral Evil"
                        class="form-radio h-4 w-4 text-indigo-600">
                    <span class="ml-2 text-sm text-gray-600">Neutral Evil</span>
                </label>
            </div>
            <div>
                <label class="inline-flex items-center">
                    <input type="radio" asp-for="Alignment" value="Chaotic Evil"
                        class="form-radio h-4 w-4 text-indigo-600">
                    <span class="ml-2 text-sm text-gray-600">Chaotic Evil</span>
                </label>
            </div>
        </div>
        <span asp-validation-for="Alignment"></span>
    </div>
    <button type="submit" class="px-4 py-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-md">Spara</button>
</form>
