@model List<DT191G_Mom2.Models.CharacterModel>
@{
    ViewData["title"] = "Alla karaktärer";
}
<h1 class="text-3xl font-bold tracking-tight text-gray-900 mb-4">@ViewData["title"]</h1>
<partial name="_CharacterCount" model="@(ViewBag.CharacterCount as int? ?? 0)" />

<div class="pt-6 px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
            <h2 class="text-base font-semibold leading-6 text-gray-900">Karaktärer</h2>
        </div>
    </div>
    <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <table class="min-w-full divide-y divide-gray-300">
                    <thead>
                        <tr>
                            <th scope="col"
                                class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Namn</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Klass</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Ras</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Bakgrund
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Alignment
                            </th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        @foreach (var character in Model)
                        {
                            <tr>
                                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">@character.Name</td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@character.Class</td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@character.Race</td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@character.Background</td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">@character.Alignment</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
